

.box1{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

table, th, td{
    border: 2px solid white;
    border-collapse: collapse;
  }

th, td{
    padding: 15px;
}

table th, table td{
    font-size: 20px;
}

#delBton{
    font-size: 20px;
    padding: 5px;
    background-color: red;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#delBton:hover{
    border: 2px solid red;
}